:root 
{
  --BACKGROUND_COLOR: #C9E3CC;
  --BOULE_01_COLOR: #B8CBD0;
  --BOULE_02_COLOR: #B0B9A8;
  --BOULE_03_COLOR: #606C5A;
  --BOULE_04_COLOR: #424340;
}

    /* background-color: var(--BOULE_03_COLOR); */
.MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation8 MuiPopover-paper MuiMenu-paper MuiMenu-paper css-pwxzbm 
{
  background-color: var(--BOULE_03_COLOR) !important;
}

.vertical-timeline-element-icon 
{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: left;
  padding: 0 !important; 
  opacity: 1 !important;
}

.vertical-timeline-element-icon svg
{
  width: 24px !important;
  height: 24px !important;
  margin: 0px !important;
  left: 0px !important;
  top: 0px !important;
}

.test::before {
  display: block;
  height: 5px;
  padding-top: 1%;
  visibility: hidden !important;
}

.vertical-timeline-element-content {
  position: relative;
  border-radius: 0.25em;
  box-shadow: none !important;
}

.vertical-timeline::before {
  background: var(--BOULE_03_COLOR) !important;
  animation: Background 100s ease infinite; 
  width: 5px !important;
}

.colorRandom {
  background: var(--BOULE_03_COLOR) !important;
  border-color: black;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--BOULE_03_COLOR);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--BOULE_02_COLOR);
}

.App {
  text-align: center;
}

#projects {
  scroll-margin-top: 10vh;
}

#contact {
  scroll-margin-top: 10vh;
}

#link0 { scroll-margin-top: 20vh; }
#link1 { scroll-margin-top: 20vh; }
#link2 { scroll-margin-top: 20vh; }
#link3 { scroll-margin-top: 20vh; }
#link4 { scroll-margin-top: 20vh; }
#link5 { scroll-margin-top: 20vh; }
#link6 { scroll-margin-top: 20vh; }
#link7 { scroll-margin-top: 20vh; }
#link8 { scroll-margin-top: 20vh; }
#link9 { scroll-margin-top: 20vh; }
#link10 { scroll-margin-top: 20vh; }
#link11 { scroll-margin-top: 20vh; }
#link12 { scroll-margin-top: 20vh; }
#link13 { scroll-margin-top: 20vh; }
#link14 { scroll-margin-top: 20vh; }
#link15 { scroll-margin-top: 20vh; }
#link16 { scroll-margin-top: 20vh; }
#link17 { scroll-margin-top: 20vh; }
#link18 { scroll-margin-top: 20vh; }
#link19 { scroll-margin-top: 20vh; }
#link20 { scroll-margin-top: 20vh; }
#link21 { scroll-margin-top: 20vh; }
#link22 { scroll-margin-top: 20vh; }
#link23 { scroll-margin-top: 20vh; }
#link24 { scroll-margin-top: 20vh; }
#link25 { scroll-margin-top: 20vh; }
#link26 { scroll-margin-top: 20vh; }
#link27 { scroll-margin-top: 20vh; }
#link28 { scroll-margin-top: 20vh; }
#link29 { scroll-margin-top: 20vh; }
#link30 { scroll-margin-top: 20vh; }
#link31 { scroll-margin-top: 20vh; }
#link32 { scroll-margin-top: 20vh; }
#link33 { scroll-margin-top: 20vh; }
#link34 { scroll-margin-top: 20vh; }
#link35 { scroll-margin-top: 20vh; }
#link36 { scroll-margin-top: 20vh; }
#link37 { scroll-margin-top: 20vh; }
#link38 { scroll-margin-top: 20vh; }
#link39 { scroll-margin-top: 20vh; }
#link40 { scroll-margin-top: 20vh; }
#link41 { scroll-margin-top: 20vh; }
#link42 { scroll-margin-top: 20vh; }
#link43 { scroll-margin-top: 20vh; }
#link44 { scroll-margin-top: 20vh; }
#link45 { scroll-margin-top: 20vh; }
#link46 { scroll-margin-top: 20vh; }
#link47 { scroll-margin-top: 20vh; }
#link48 { scroll-margin-top: 20vh; }
#link49 { scroll-margin-top: 20vh; }

html {
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-pwxzbm 
{
  background-color: var(--BOULE_03_COLOR) !important;
}

html {
  font-family: 'Times New Roman' !important;
  background-color: var(--BACKGROUND_COLOR);
}

#testText
{
}

#testImage
{
    border-radius: 20px;
    border: 2px solid #112D4E;
    background-color: #DBE2EF;
    margin: 3px;
    padding: 3px;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--BACKGROUND_COLOR);
  overflow: hidden;
  z-index: -2;
}

.background span {
  width: 2vmin;
  height: 2vmin;
  border-radius: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 50;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: var(--BOULE_01_COLOR);
  top: 53%;
  left: 78%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw 5vh;
  box-shadow: 4vmin 0 1.4308376707609842vmin currentColor;
}
.background span:nth-child(1) {
  color: var(--BOULE_01_COLOR);
  top: 79%;
  left: 70%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -18vw -24vh;
  box-shadow: 4vmin 0 0.6080536863713635vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--BOULE_02_COLOR);
  top: 32%;
  left: 47%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 15vw -11vh;
  box-shadow: 4vmin 0 0.6164162872144343vmin currentColor;
}
.background span:nth-child(3) {
  color: var(--BOULE_03_COLOR);
  top: 63%;
  left: 71%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 9vw -21vh;
  box-shadow: 4vmin 0 1.4740720128036122vmin currentColor;
}
.background span:nth-child(4) {
  color: var(--BOULE_03_COLOR);
  top: 79%;
  left: 94%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw -19vh;
  box-shadow: 4vmin 0 0.763967711346931vmin currentColor;
}
.background span:nth-child(5) {
  color: var(--BOULE_03_COLOR);
  top: 94%;
  left: 47%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 20vw 13vh;
  box-shadow: -4vmin 0 0.6738617948620829vmin currentColor;
}
.background span:nth-child(6) {
  color: var(--BOULE_02_COLOR);
  top: 56%;
  left: 88%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 5vw 1vh;
  box-shadow: -4vmin 0 0.5741577185646489vmin currentColor;
}
.background span:nth-child(7) {
  color: var(--BOULE_04_COLOR);
  top: 31%;
  left: 9%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 19vw -14vh;
  box-shadow: -4vmin 0 1.3493123294360212vmin currentColor;
}
.background span:nth-child(8) {
  color: var(--BOULE_04_COLOR);
  top: 25%;
  left: 34%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -2vw -4vh;
  box-shadow: -4vmin 0 1.3546827740411556vmin currentColor;
}
.background span:nth-child(9) {
  color: var(--BOULE_01_COLOR);
  top: 70%;
  left: 84%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw 9vh;
  box-shadow: -4vmin 0 0.6550668522461096vmin currentColor;
}
.background span:nth-child(10) {
  color: var(--BOULE_04_COLOR);
  top: 100%;
  left: 91%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 13vw -5vh;
  box-shadow: -4vmin 0 1.3962629169968497vmin currentColor;
}